html, body {
    margin: 0;
    padding: 0;
    background-color: #EFC9AF;
    color: black;
}
menu {
    background-color: #EFC9AF;
    color: #104C91;
    padding: 18px;
    font-size: 18px;
    font-family: "Lucida Console";
    border: none;
    cursor: pointer;
}
p {
    background-color: #EFC9AF;
    color: #104C91;
    padding: 14px;
    font-size: 14px;
    font-family: "Lucida Console";
}  

